---
version: 2.1

# Parameters required to trigger the execution of the "host_docs" job
parameters:
    GITHUB_RUN_URL:
        type: string
        default: none

jobs:
    host_docs:
        machine:
            image: ubuntu-2204:current
        environment:
            GITHUB_ARTIFACT_URL: << pipeline.parameters.GITHUB_RUN_URL >>
        steps:
        -   checkout
        -   run:
                name: Download documentation
                command: bash build_tools/circle/download_documentation.sh
        -   store_artifacts:
                path: DocHTML/
                destination: html

workflows:
    host_and_deploy_doc:
        when:
            not:
                equal: [none, << pipeline.parameters.GITHUB_RUN_URL >>]
    # The jobs should run only when triggered by the workflow
        jobs:
        -   host_docs